*, ::after, ::before {
  box-sizing: border-box;
}
.App {
  background: #fff;
  padding: 15px;
  margin: 0 auto;
  max-height: 100vh;
}

/* inputan */
.Chat-container {
  /* max-height: 100vh; */
  background: #fff;
  left: 50%;
  bottom: 0;
  position: fixed;
  transform: translate(-50%);
  width: 100%;
  padding: 15px;
  display: grid;
  gap: 10px; /* Jarak antara input dan button */
}
.Chat-wrapper {
  /* max-height: 75vh; */
  overflow-y: auto;
  margin: 10px 0;
  padding-bottom: 150px;
}
.Chat-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.Chat-from-wrapper, .Chat-to-wrapper {
  /* background: red; */
  padding: 10px 0;
}
.Chat-author, .Chat-message {
  margin: 0;
}
.Chat-author {
  font-weight: 700;
  font-size: 18px;
}
.Chat-message {
  font-size: 14px;
}

.Chat-input {
  border-radius: 10px;
  line-height: 1.5;
  border: solid 1px rgba(0,0,0,.15);
  padding: 15px 10px;
  font-size: 14px;
}

.Chat-creator-web {
  margin: 0;
  color: #B3C8CF;
  font-size: 12px;
  text-align: center;
}

.Chat-btn-send {
  padding: 15px 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background: #1679AB;
  color: #fff;
  border-radius: 5px;
  /* margin: 10px; */
  cursor: pointer;
}
.Chat-btn-send[disabled] {
  opacity: 0.5; 
  cursor: not-allowed; 
}

@media (max-width: 575px){
  .App, .Chat-container {
    max-width: 450px;
  }
}
@media (min-width: 576px){
  .App, .Chat-container {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .App, .Chat-container {
    max-width: 720px;
  }
}
@media (min-width: 992px){
  .App, .Chat-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px){
  .App, .Chat-container {
    max-width: 1140px;
  }
}